#iconhtml{
    list-style-image: url("https://img.icons8.com/ios-filled/20/000000/html-5--v1.png") ;
}
#iconcss{
    list-style: url("https://img.icons8.com/ios-filled/20/000000/css3.png");
}
#iconpython{
    list-style: url("https://img.icons8.com/ios-filled/20/000000/python.png");
}
#icongmail{
    list-style: url("https://img.icons8.com/ios-filled/20/000000/gmail-new.png");
}
#icontel{
    list-style: url("https://img.icons8.com/ios-filled/20/000000/cell-phone.png");
}
#icongit {
    list-style: url("https://img.icons8.com/ios-filled/20/000000/github.png");
}