#iconhtml{
    list-style-image: url("https://img.icons8.com/ios-filled/20/000000/html-5--v1.png") ;
}
#iconcss{
    list-style: url("https://img.icons8.com/ios-filled/20/000000/css3.png");
}
#iconpython{
    list-style: url("https://img.icons8.com/ios-filled/20/000000/python.png");
}
#icongmail{
    list-style: url("https://img.icons8.com/ios-filled/20/000000/gmail-new.png");
}
#icontel{
    list-style: url("https://img.icons8.com/ios-filled/20/000000/cell-phone.png");
}
.form{
    list-style: url("https://img.icons8.com/office/20/000000/training.png");
}
.exp{
    list-style: url("https://img.icons8.com/dusk/20/000000/customer-insight.png");
}

#iconinsta{
    list-style: url("https://img.icons8.com/ios/30/000000/instagram-new--v3.png");
    
}
#iconlink{
    list-style: url("https://img.icons8.com/ios/30/000000/linkedin.png");
}
#icongit {
    list-style: url("https://img.icons8.com/ios-filled/30/000000/github.png");
}